@CHARSET "UTF-8";

#manyQuestionPage{
	padding: 63px 16px 0 16px;
}

#accordion{
	color: #000000 !important;
}

#accordion .panel{
	-webkit-box-shadow: none;
    box-shadow: none;
	border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
    border-radius: 0;
}

.panel-heading{
	padding:0 18px;
}

.panel-title>a{
	color: #000000 !important;
	font-weight:initial !important;
}

.panel-title, .indicator{
	color:#9b9b9b;
	line-height:51px;
}
.panel-body{
	padding:18px 36px;
	line-height:200%;
}

.panel-default>.panel-heading{
	color:#626262;
	background-color: white;
}
.ui-link{
	width:100%;
	display: inline-block;
}
.panel-group .panel+.panel{
	margin:0px;
}
a:focus, a:hover{
	text-decoration: none;
}
.ui-page-theme-a a:hover{
	color:#000000;
}
i{
	color:#dcdcdc;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color: #9b9b9b;
}