@CHARSET "UTF-8";

#oneByoneQna{
	padding: 63px 16px 0 16px;
	min-height: 100% !important;
}

#accordion{
	color: #000000 !important;
	padding-bottom:73px;
}

#accordion .panel{
	-webkit-box-shadow: none;
    box-shadow: none;
	border-top: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    border-left: none;
    border-right: none;
    margin-bottom: -1px;
    border-radius: 0;
}

.panel-heading{
	padding:0 18px;
}

.panel-title>a{
	color: #000000 !important;
	font-weight:initial !important;
}

.panel-title, .indicator{
	color:#9b9b9b;
	line-height:51px;
}
.panel-body{
	padding:18px 36px;
	line-height:200%;
}

.panel-default>.panel-heading{
	color:#626262;
	background-color: white;
}
.ui-link{
	width:100%;
	display: inline-block;
}
.panel-group .panel+.panel{
	margin:0px;
}
a:focus, a:hover{
	text-decoration: none;
}
.ui-page-theme-a a:hover{
	color:#000000;
}
i{
	color:#dcdcdc;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body{
	border-top-color: #EBEBEB;
	font-size: 13px;
    padding: 18px 18px;
    width: 307px;
    margin: auto;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body.answer{
	padding: 12px 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body.answer .answer_content{
	padding-top: 12px;
	padding-left:18px;
	padding-right:18px;
}
.questionBtn{
	width:343px;
	height:52px;
	position: absolute;
    bottom: 0px;
}
.questionBtn > div{
	color:#000000;
    width: 100%;
    height: 52px;
    background-color: #EBEBEB;
    text-align: center;
    line-height: 52px;
}

#registPopup{
	background: none;
    border: none;
   	-webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.regist{
	text-decoration:underline;
	color:#b5b5b5;
}

#registPopup-screen{
	background-color: black !important;
}
#popupHead{
    text-shadow: none;
    color: white;
}
#popupBody{
	background-color:white;
}
#questionWrap{
	width: 280px;
	height:35px;
	line-height:35px;
    border-bottom: 1px solid black;    
}
#questionTitle{
	width: 280px;
    height: 34px;
    padding:0 10px;
    border:0;
    font-size:11px;
}
#questionContent{
	height: 100px;
    width: 280px;
    padding:0 10px;
    border:0;
    font-size:11px;
}

#pupupFoot{
	width:280px;
	height:50px;
	text-align:center;
}
#pupupFoot>div{
	width:49%;
	height:50px;
	line-height:50px;
}
#pupupFoot>#cancelBtn{
	background-color: #ebebeb;
}
#pupupFoot>#writeBtn{
	background-color: #a5FFeb;
}
.ui-popup-screen.in{
	opacity: .8;
}